*{ margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Honoka';
  src: url('/assets/font/Honoka_Shin_Mincho_L.otf') format('otf');
      
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Honoka', serif;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
}

/* ヘッダーのスタイル */
header {
  position: relative;
  width: 100%;
  height: 20vh; /* 画像の高さを指定 */
  overflow: hidden;
  color: black;
}

.nav-menu{
  color: black;
}

.hamburger-switch-line1, .hamburger-switch-line1:before, .hamburger-switch-line1:after{
  background-color: black;
}
.hamburger-demo-menuwrap{
  background-color: brown;
}

/* 背景画像のスタイル */
.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1{
  margin-left: 50px;
  margin-bottom: 40px;
  font-weight: 50;
  font-size: 95px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content{
  z-index:-2;
}
.type_section{
  height: 50vh;
  z-index: 20;
  margin: 80px 0px 180px 50px;
  margin-left: 50px;
  font-size:17px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

.type_section , p{
  margin-left:50px ;
}


/* 案４ */

/* コンテナ */
.container {
  width: 100vw;
  height:120vh;
  overflow: auto;
}

/* 固定テキスト */
.sticky-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 30px;
  transition: transform 0.3s ease-out;
  z-index: -1;
}

/* スクロールコンテンツ */
.content {
  width: 100%;
  height: 300vh; /* 長くしてスクロール可能にする */
  position: relative;
  
}

/* 各セクション */
.section {
  height: 500vh;
  font-size: 1.15rem;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


/* アニメーション */
.js-fade {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: opacity 1s,visibility 1s, transform 1s;
}

.scroll {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}


.smooth {
  clip-path: inset(0 100% 0 0);
  display: inline-block;
  font-size: 100px;
  font-weight: bold;
  transition: 1.6s cubic-bezier(0.37, 0, 0.63, 1);
  transition-property: clip-path;
  line-height: 1;
  height: 100px;
  margin-top: 15px;
}
.smooth.is-animated {
  clip-path: inset(0);
}



.strat-1,.tele-1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 350px;
}

.strat2_img,.tele2_img{
  width: 300px;
  
}
/* セクション１の高さを設定 */
.section.bg1{
  height: 550vh;
}
/* 画像セクション */

.stratcaster_title{
  padding-top: 30%;
}

.tele_title{
  padding-top: 0%;
}



.s1,.t1{
  height: auto;  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
  color: white;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-bottom: 30%;
  padding-top: 40%;
}

.strat1_img{
  width: 650px;
  height: auto;
  margin-right: 150px;
}

.stratEx1,.teleEx1{
  width: 20%;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.s3 .t3{
  display:flex;
  flex-direction: column;
}

.smooth{
  text-align: right;
}

.smooth >h2{
  font-family: serif;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(0, 0, 0); 
  text-underline-offset: 13px; 
  text-decoration-thickness: 1.5px;
  font-size: 100px;
  margin-left: 595px;
  margin-bottom: 50px;
}

#smooth2>h2{
text-align: left;
margin-left: 50px;
text-decoration-color: rgb(255, 255, 255); 
text-underline-offset: 13px; 
text-decoration-thickness: 1.5px;
}

section .p2{
  text-align: right;
  margin-top: 80px;
  margin-right: 50px;
}

.s2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 200px;
}

.strat2_img,.tele2_img{
  margin-left: 5%;
  /* padding-left: 100px; */
}

/* 時間があったら（画像の切り替わり） */

/* .strat2_img,.tele2_img{
  left: -100%;
  transition: left .7s;
}

.strat2_img:hover,.tele2_img:hover{
  left: 0;
} */

.strat3_img,.tele3_img{
  width: 200px;
  height: auto;
}

.strat4,.tele4{
  width: 400px;
}

.section.bg2{
  height: 550vh;
}

.tele1_img{
  width: 600px;
  margin-left: 10%;
}

.t2 p{
  margin-left: 50px;
  margin-top: 80px;
}

.t3{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 200px;
}

.section.bg3{
  color: black;
}

.p3{
  color: black;
}




/* 背景画像 */
.bg1 { background-image: url('../img/winered.jpeg'); }
.bg2 { background-image: url('../img/black2.png'); }
.bg3 { background-image: url('/img/white.png'); }
.bg4 { background-image: url('../img/black1.jpg'); }
